


section {
    padding: 30px 0 50px 0 !important;
}
.delivery:first-child {
    padding-top: 7.5rem !important;
}
.title {
    margin-bottom: 40px !important;
}
.text p, 
.text a {
    font-size: 20px;
}

.text p:not(:last-child){
    margin-bottom: 25px;
}
.text a {
    color: var(--color-primary);
    text-decoration: underline;
}
.payment__text {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.notes {
    font-size: 16px;
}
.text__block h5{
    font-size: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
    section {
        padding: 50px 0 !important;
        }
    .title {
        margin-bottom: 50px !important;
    }
    .text p:not(:last-child) {
        margin-bottom: 50px;
    }
    .notes {
        font-size: 20px;
    }
}

@media screen and (max-width: 768px) {
   text p{
       font-size: 16px;
   }
}