.title {
    margin-bottom: 40px;
}
.contract__block {
    margin-bottom: 40px;
}

.contract__block p:not(:last-child){
    margin-bottom: 25px;
}
.contract__block h4 {
    margin-top: 40px;
    display: inline-block;
}
.contract__subtitle {
    font-size: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
    .title, 
    .contract__block {
        margin-bottom: 50px;
        }
}